/************
HTML ELEMENTS
************/

body {
  margin: 0;
  padding: 0;
}

/* Header */

header {
  /* border: 1px black solid; */
  background: #f8f8f8;
  padding: 1.5em 0;
}

h1 {
  margin: 0;
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 2.0625rem;
  color: #143774;
}

header p {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #1792D2;
}

a {
  text-decoration: none;
  color: inherit;
}

/* .site-title {
  border: 1px solid blue;
}  */

/* nav {
  border: 1px dotted green;
} */

nav ul {
  /* border: 1px blue dotted; */

  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

nav li {
  /* border: 1px red dashed; */
  margin-left: 2em;
}

nav a {
  font-family: 'Ubuntu', sans-serif;
  color: #707070;
  padding: .25em;
}

nav a:hover, nav a:focus {
  outline: none;
  color: #1792D2;
}

/* Body */

section {
  width: 90%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  margin: 1.5em auto;
}

h2 {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #143774;
  margin-top: 0;
}

section p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

section span {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  color: #143774;
  /* margin-top: 0; */
}

h4 {
  font-family: 'Lora', serif;
  font-weight: 100;
  font-size: 1.125rem;
  color: #143774;
}

footer {
  background: #143774;
  text-align: center;
  padding: 2em;
}

footer p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.125rem;
  color: #fff;
  opacity: 0.54;
  margin: 0;
}

/******
CLASSES
******/

/* Header */

.current-page {
  border-bottom: 1px solid #707070;
}

.current-page:hover {
  color: #707070;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto auto;
}

.container-nav {
  /* border: 1px solid magenta; */
  display: flex;
  justify-content: space-between;
}

/* Body */

.main {
  width: 60%;
}

.featured-content {
  padding-bottom: 1em;
  border-bottom: 1px solid black;
}

.featured-img {
  width: 100%;
}

.featured-text {
  margin-top: 1.25em;
}

.continue-reading {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #1792d2;
  text-decoration: none;
}

.general-content {
  display: flex;
  justify-content: space-between;
  margin: 1.5em auto;
}

.general-img {
  width: 30%;
}

.general-text {
  width: 65%;
}

.sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.sidebar-bg {
  width: 100%;
  background: #ebebeb;
  margin-bottom: 2em;
}

.sidebar-box {
  width: 90%;
  margin: 0.6266875em auto;
  background: #fff;
  /* border: 1px dotted red; */
}

.sidebar-content {
  width: 90%;
  margin: .5em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid black; */
}

.sidebar-img {
  width: 100%;
  text-align: center;
}

.sidebar-text {
  font-size: .875rem;
  /* margin-bottom: 0; */
}

.recent-post {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 2em;
}

.recent-post-last {
  width: 100%;
}

.recent-post-img {
  width: 100%;
}

.footer-content {
  width: 50%;
  margin: auto auto;
}

.footer-title {
  margin-bottom: .25em;
}

.copyright {
  font-weight: 300;
}

/************
MEDIA QUERIES
************/

@media screen and (max-width: 749px) {
  nav ul {
    /* border: 1px solid black; */
    flex-direction: column;
    margin: auto auto;
  }

  nav li {
    margin-bottom: .5em;
  }

  .container-nav {
    align-items: center;
  }
}

@media screen and (max-width: 516px) {
  .container-nav {
    flex-direction: column;
  }

  header {
    text-align: center;
  }

  nav ul {
    margin-top: 1.5em;
    text-align: center;
  }

  nav li {
    margin-left: 0;
  }
}
