body {
  margin: 0;
  padding: 0;
}

header {
  /* border: 1px black solid; */
  background: #f8f8f8;
  padding: 1.5em 0;
}

h1 {
  margin: 0;
  font-family: 'Lora', serif;
  font-weight: 400;
  color: #143774;
}

header p {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #1792D2;
}

.site-title {
  /* border: 1px solid blue; */
}

nav {
  /* border: 1px dotted green; */
}

nav ul {
  /* border: 1px blue dotted; */

  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

nav li {
  /* border: 1px red dashed; */
  margin-left: 2em;
}

nav a {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: #707070;
  padding: .25em;
}

nav a:hover, nav a:focus {
  outline: none;
  color: #1792D2;
}

.current-page {
  border-bottom: 1px solid #707070;
}

.current-page:hover {
  color: #707070;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto auto;
}

.container-nav {
  /* border: 1px solid magenta; */
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 749px) {
  nav ul {
    /* border: 1px solid black; */
    flex-direction: column;
    margin: auto auto;
  }

  nav li {
    margin-bottom: .5em;
  }

  .container-nav {
    align-items: center;
  }
}

@media screen and (max-width: 516px) {
  .container-nav {
    flex-direction: column;
  }

  header {
    text-align: center;
  }

  nav ul {
    margin-top: 1.5em;
    text-align: center;
  }

  nav li {
    margin-left: 0;
  }
}
