/*

HOME

*/

/************
HTML ELEMENTS
************/

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
  font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
.recent-post-title {
  color: #143774;
}

h1,
h2,
h4,
.recent-post-title {
  font-family: 'Lora', serif;
  font-weight: 400;
}

h1 {
  margin: 0;
  font-size: 2.0625rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-weight: bold;
  /* margin-top: 0; */
}

a {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: #1792D2;
}


/* csslint ignore: start */
img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}
/* csslint ignore:end */

strong {
  font-weight: 500;
}

/* Header */

header {
  background: #f8f8f8;
  padding: 1.5em 0;
  margin-bottom: 1.5em;
  text-align: center;
}

header p,
footer p {
  margin: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin: 1.5em auto auto;
}

nav li {
  margin-left: 0;
  margin-bottom: .5em;
}

nav a {
  color: #707070;
  padding: .25em;
  font-weight: 500;
}

nav a:hover, nav a:focus {
  outline: none;
  color: #1792D2;
}

/* Body */

main {
  width: 100%;
}

footer {
  background: #143774;
  color: #fff;
  text-align: center;
  padding: 2em;
}

footer p {
  opacity: 0.5;
}

/******
CLASSES
******/

/* Header */

.current-page {
  border-bottom: 1px solid #707070;
}

.current-page:hover {
  color: #707070;
}

.container {
  width: 90%;
  margin: auto auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Body */

.article-featured {
  padding-bottom: 1em;
  border-bottom: 1px solid black;
}

.subtitle, .continue-reading {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #1792d2;
  text-decoration: none;
}

.article-recent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5em auto;
}

.article-recent:first-child {
  margin-top: 0;
}

.sidebar {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.sidebar-widget {
  border: 15px solid #efefef;
  padding: .0625em 1em;
  margin-bottom: 2em;
}

.recent-post {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 2em;
}

.recent-post:last-child {
  border-bottom: none;
}

.recent-post-img {
  width: 100%;
}

.footer-content {
  width: 50%;
  margin: auto auto;
}

.footer-title {
  font-weight: 500;
  margin-bottom: .25em;
}

.footer-copyright {
  font-weight: 300;
}

/************
MEDIA QUERIES
************/

@media screen and (min-width: 749px) {
  header {
    text-align: inherit;
  }

  .container {
    max-width: 900px;
  }

  .container-flex {
    flex-direction: row;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: row;
    margin-bottom: 0;
  }

  nav li {
    margin-left: .8em;
  }

  main {
    width: 60%;
  }

  .article-recent {
    flex-direction: row;
  }

  .article-recent-img {
    width: 30%;
    height: 150%;
  }

  .article-recent-title {
    margin-top: 0;
  }

  .article-recent-content {
    width: 65%;
  }

  .sidebar {
    width: 25%;
  }
}

/*

ABOUT ME

*/

.about-me-subheading {
  font-family: 'Lora', sans-serif;
  color: #1792D2;
}

.no-border {
  border-bottom: none;
}

.about-me-img {
  display: flex;
  height: 50%;
}
